head
  title Joe Carter Classic Golf Tournament
  meta(name='viewport' content='width=device-width')
  link(rel="shortcut icon" href='//joecarterclassic.com/images/favicon.ico')
  link(href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css')

template(name='layout')
  .wrapper
    +header 
    +main
    +footer