//- template(name='rightAside')
//-   aside.right-aside
//-   
//-   
//-     h5 Proceeds to benefit
//-     img(src='http://joecarterclassic.com/images/JC_T2_home_03_CAF_logo.png')
//-     h5 Our Sponsors
//-     img(src='http://joecarterclassic.com/images/JC_T2_home_04.gif')
//-     h5 Celebrity Guests
//-     +guests
//-     
//-     <td bgcolor="#003466" background="images/JC_T2_home_10A.jpg" style="background-repeat:no-repeat;position:relative;" height="250">
//- 
//- 
//-     <table width="379" height="260" border="0" cellpadding="2" cellspacing="2">
//-     <tbody><tr>
//-     <th width="6" height="233" scope="col">&nbsp;</th>
//-     <th width="359" scope="col" data-twttr-id="twttr-sandbox-0">
//- 
//-     <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" allowfullscreen="" style="border: none; max-width: 100%; min-width: 180px; margin: 0px; padding: 0px; display: inline-block; position: static; visibility: visible; width: 344px;" title="Twitter Timeline" height="240"></iframe>
//- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
//- 
//- 
//-         </th>
//-     </tr>
//- </tbody></table>
//- 
//- 
//- 
//- 
//- 
//- 
//-       </td>
