template(name='home')
  // title shot
  .title-panel
    a(href='/Details')
      img(src='http://joecarterclassic.com/images/JC_T2_home_03_logo.png')

  // last year's photo
  .second-panel

  // newsfeed

  // link to chronology